<html>
  <head>
    <title>Contact page</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="main center">
      <h1>Contact us</h1>
      <div class="block-image">
        <img
          width="1920"
          height="1080"
          src="/static/hero.jpg"
          alt="Flask Application Home"
        />
      </div>
      <div class="block-button__group">
        <a href="/" class="button">Return to home</a>
      </div>
    </div>
  </body>
</html>
