<html>
<head>
    <title>Flask Application</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="main center">
        <h1>Flask Application</h1>
        <div class="block-button__group">
            <button class="button" data-message="Alert Message 1">Alert 1</button>
            <button class="button" data-message="Alert Message 2">Alert 2</button>
            <a href="/contact" class="button">Contact</a>
            <a href="/about" class="button">About</a>
        </div>
        <div class="block-image">
            <img width="1920" height="1080" src="/static/hero.jpg" alt="Flask Application Home"/>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>